<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
    <link rel="stylesheet" href="../css/bootstrap1.css" />
    <link rel="stylesheet" href="../css/cssFont/all.css" />
    <link rel="stylesheet" href="../css/port.css" />
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/about.css" />
  </head>
  <body>
    <%-include("navbar.ejs")%>
    <div class="jumbotron jumbotron-fluid aboutJumb">
      <div class="container">
        <h1 class="display-4">
          Mean Stack <i style="color: green;" class="fab fa-envira"></i>
          <i style="color: gray;" class="fab fa-etsy"></i>
          <i style="color: #DD1C17;" class="fab fa-angular"></i>
          <i style="color: #43853D;" class="fab fa-node-js "></i>
        </h1>
        <p class="lead">
          We will help you to know more information about this track and give
          you websites will help you with work
        </p>
      </div>
    </div>
    <div class="container">
      <div class="col-xl-9" style="margin-left: 60px;">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">
            <i style="color: orange;" class="fab fa-js-square "></i> JavaScript!
          </h4>
          <p>
            JavaScript runs on the client side of the web, which can be used to
            design / program how the web pages behave on the occurrence of an
            event. JavaScript is an easy to learn and also powerful scripting
            language, widely used for controlling web page behavior and you must
            have html <i style="color: green;" class="fab fa-html5"></i> and css
            <i style="color: blue;" class="fab fa-css3-alt"></i>.
          </p>
          <hr />
          <p class="mb-0">
            you can learn more from<a
              style="text-decoration: none;"
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
              ><span style="color: #3D7E9A;"> MDN</span></a
            >
            and you must know that JavaScript the master in this track.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xl-9" style="margin-left: 200px;">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">
            <i style="color: #43853D;" class="fab fa-node-js "></i> node js!
          </h4>
          <p>
            Node js is an open-source, cross-platform, JavaScript runtime
            environment that executes JavaScript code outside of a browser. Node
            lets developers use JavaScript to write command line tools and for
            server-side scripting—running scripts server-side to produce dynamic
            web page content before the page is sent to the user's web browser.
            Consequently, Node.js represents a "JavaScript everywhere" paradigm,
            unifying web-application development around a single programming
            language, rather than different languages for server- and
            client-side scripts.
          </p>
          <hr />
          <p class="mb-0">
            you can learn more and get all document from<a
              style="text-decoration: none;"
              href="https://nodejs.org/en/docs/"
              ><span style="color: rgb(40, 219, 40);"> node js</span></a
            >
            .
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xl-9" style="margin-left: 100px;">
        <div class="alert alert-dark" role="alert">
          <h4 class="alert-heading">
            <i style="color: black;" class="fab fa-etsy"></i> express js!
          </h4>
          <p>
            Express.js, or simply Express, is a web application framework for
            Node.js, released as free and open-source software under the MIT
            License. It is designed for building web applications and APIs.[3]
            It has been called the de facto standard server framework for
            Node.js.
          </p>
          <hr />
          <p class="mb-0">
            you can learn more and get all modules from<a
              style="text-decoration: none;"
              href="https://expressjs.com/"
              ><span style="color: rgb(23, 59, 75);"> here</span></a
            >
            .
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xl-9" style="margin-left: 170px;">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">
            <i style="color: green;" class="fab fa-envira"></i> MongoDB !
          </h4>
          <p>
            MongoDB is a cross-platform document-oriented database program.
            Classified as a NoSQL database program, MongoDB uses JSON-like
            documents with schema. MongoDB is developed by MongoDB Inc. and
            licensed under the Server Side Public License
          </p>
          <hr />
          <p class="mb-0">
            you can learn more and get all information from the
            <a style="text-decoration: none;" href="https://www.mongodb.com/"
              ><span style="color: rgb(36, 196, 36);"> Official </span></a
            >
            site.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xl-9" style="margin-left: 80px;">
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">
            <i style="color: #DD1C17;" class="fab fa-angular"></i> AngularJS !
          </h4>
          <p>
            AngularJS is a structural framework for dynamic web applications. It
            lets you use HTML as your template language and lets you extend
            HTML's syntax to express your application components clearly and
            succinctly. Its data binding and dependency injection eliminate much
            of the code you currently have to write. And it all happens within
            the browser, making it an ideal partner with any server technology.
          </p>
          <hr />
          <p class="mb-0">
            you can learn more and get all information from<a
              style="text-decoration: none;"
              href="https://expressjs.com/"
              ><span style="color: #DD1C17;"> here</span></a
            >
            .
          </p>
        </div>
      </div>
    </div>
    <%-include("footer.ejs")%>
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap2.js"></script>
    <script src="../js/jsFont/all.js"></script>
  </body>
</html>
