<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="cssFont/all.css" />
    <link rel="stylesheet" href="port.css" />
  </head>
  <body>
    <footer class="foot">
      <ul>
        <li class="foot">
          This is IR Portfolio all copy &copy; right 2019
        </li>
        <span class="folow">
          Follow me <i class="fab fa-twitter one"></i>
          <i class="fab fa-facebook-f two"></i>
          <i class="fab fa-linkedin-in no"></i>
          <i class="fab fa-instagram too"></i>
          <i class="fab fa-github-alt git"></i>
        </span>
      </ul>
    </footer>
    <script src="jsfont/all.js"></script>
  </body>
</html>
