<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
  <div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12 col-12" >
    <nav class="navbar">
      <ul>
        <a href="portfolio"
          ><li><i class="fas fa-code-branch"></i> Portfolio</li></a
        >
        <a href="home"><li>Home</li></a>
        <a class="about" href="contact"<li>Contact</li>
        <a class="about" href="about"<li>About</li></a>
      </ul>
    </nav>
    </div>
  </div>
  </body>
</html>
