h5 {
  font-family: "cursive", Comic Sans MS, Comic Sans, cursive;
}
.two:hover {
  color: #3b5998;
}
.no:hover {
  color: #006097;
}
.too:hover {
  color: #fa842d;
}
.one:hover {
  color: #1da1f2;
}
.git:hover {
  color: gray;
}
.foo {
  background-color: black;
  border: black solid 1px;
  border-radius: 15px;
  opacity: 0.6;
}
